.DS_Store
.gradle/
.gradle-*/
**/build/
.idea/
*.iml
local.properties
*.jks
*.keystore
keystore.properties
captures/
.externalNativeBuild
.cxx/
*.log
_upstream/
_maa-meow.zip
app/release/
app/debug/
dist/
analytics.settings
codex-*.png
codex-*.txt
_debug-*.png
.android/
*.apk

app/src/main/assets/default_accounts.txt
